#modern {
   padding: 36px 0;
   min-width: 83vh;
   .modern {
      justify-content: center;
      &--info {
         width: 100%;
         h1 {
            text-align: center;
            font-size: 22px;
            width: 317px;
            line-height: 32px;
            margin-left: 30px;
         }
         p {
            font-size: 14px;
            text-align: center;
            margin: 0 0 23px 0;
         }
         &__inputs {
            width: 100%;
            input {
               padding: 14px 170px 11px 47px;
            }
         }
         &__btn {
            width: 375px;
            button {
               width: 100%;
               padding: 12px 112px;
            }
            &--text {
               width: 100%;
            }
         }
      }
      &--image {
         display: none;
      }
   }
}