body {
  font-family: "Nunito", "Roboto", sans-serif;
  background: #f5f4ff;
}
.container {
	width: 1440px;
	max-width: 100%;
	margin: 0 auto;
}
button {
  cursor: pointer;
  border: none;
}
a {
  text-decoration: none;
}

#open {
	.open {
		display: flex;
		align-items: center;
		flex-direction: column;
		h1 {
			width: 786px;
			color: rgb(45, 45, 45);
			font-family: Nunito;
			font-size: 36px;
			font-weight: 700;
			line-height: 50px;
			letter-spacing: 0%;
			text-align: center;
		}
		&--info {
			display: flex;
			justify-content: space-between;
			align-items: center;
			&__img {
				position: relative;
				margin-top: -60px;
				img {
					width: 100%;
					height: 100%;
				}
				&--rectangle1 {
					position: absolute;
					top: 100px;
					right: 70px;
					width: 194px;
					height: 199px;
					border-radius: 120px 5px 120px 120px;
					background: rgb(45, 188, 124);
					z-index: -10;
				}
				&--rectangle2 {
					position: absolute;
					width: 491px;
					height: 453px;
					top: 130px;
					left: 90px;
					border-radius: 20px 300px 20px 300px;
					background: rgb(255, 207, 60);
					z-index: -11;
				}
				&--text1 {
					position: absolute;
					width: 219px;
					height: 164px;
					bottom: 105px;
					left: 155px;
					border-radius: 15px;
					background: rgb(255, 255, 255);
					display: flex;
					align-items: center;
					justify-content: center;
					p {
						color: rgb(109, 105, 140);
						font-family: Roboto;
						font-size: 14px;
						font-weight: 400;
						line-height: 22px;
						letter-spacing: 0%;
						text-align: left;
						width: 174px;
					}
				}
				&--text2 {
					position: absolute;
					width: 219px;
					height: 166px;
					bottom: 104px;
					left: 400px;
					border-radius: 15px;
					background: rgb(255, 255, 255);
					display: flex;
					align-items: center;
					justify-content: center;
					p {
						color: rgb(109, 105, 140);
						font-family: Roboto;
						font-size: 14px;
						font-weight: 400;
						line-height: 22px;
						letter-spacing: 0%;
						text-align: left;
						width: 174px;
					}
				}
			}
			&__content {
				h2 {
					color: rgb(45, 45, 45);
					font-family: Roboto;
					width: 504px;
					font-size: 20px;
					font-weight: 400;
					line-height: 30px;
					letter-spacing: 0%;
					text-align: left;
				}
				&--blocks {
					display: flex;
					gap: 20px;
					margin: 64px 0 60px 0;
					&__block1 {
						width: 219px;
						height: 166px;
						border-radius: 15px;
						background: rgb(255, 255, 255);
						display: flex;
						align-items: center;
						justify-content: center;
						p {
							color: rgb(109, 105, 140);
							font-family: Roboto;
							font-size: 14px;
							font-weight: 400;
							line-height: 22px;
							letter-spacing: 0%;
							text-align: left;
							width: 181px;
						}
					}
					&__block2 {
						width: 219px;
						height: 166px;
						border-radius: 15px;
						background: rgb(255, 255, 255);
						display: flex;
						align-items: center;
						justify-content: center;
						p {
							color: rgb(109, 105, 140);
							font-family: Roboto;
							font-size: 14px;
							font-weight: 400;
							line-height: 22px;
							letter-spacing: 0%;
							text-align: left;
							width: 181px;
						}
					}
				}
				h3 {
					color: rgb(45, 45, 45);
					font-family: Roboto;
					font-size: 18px;
					font-weight: 400;
					line-height: 30px;
					letter-spacing: 0%;
					text-align: left;
					width: 524px;
				}
			}
		}
	}
}
#section5 {
  .section5 {
    text-align: center;
    margin: 50px;
    h1 {
      color: rgb(45, 45, 45);
      font-family: "Roboto", sans-serif;
      font-size: 36px;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: 0%;
      text-align: center;
    }

    p {
      font-family: "Nunito", sans-serif;
      color: rgb(109, 105, 140);
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0%;
      text-align: center;
    }

    &--blocks {
      display: flex;
      flex-wrap: wrap; /* Позволяет блокам переноситься на следующую строку */
      justify-content: center; /* Центрирует блоки при переносе */
      text-align: center;
      width: 100%;
      margin-top: 60px;
      gap: 50px;

      &__block1 {
        width: 300px;
        height: 300px;
        border-radius: 20px;
        background: rgb(255, 255, 255);
        padding-top: 50px;

        p {
          width: 212px;
          padding-left: 20px;
          color: rgb(45, 45, 45);
          font-family: "Nunito", sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0%;
          text-align: left;
        }
      }
    }

    h2 {
      color: rgb(109, 105, 140);
      font-family: "Nunito", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0%;
      margin: 100px 0 20px 0;
    }

    button {
      width: 273px;
      height: 55px;
      border-radius: 15px 50px 15px 50px;
      background: rgb(239, 88, 78);
      color: rgb(255, 255, 255);
      font-family: "Nunito", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0%;
    }
  }
}

#section6 {
  .section6 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .dialog {
      display: none;
    }
    &--text {
      h2 {
        color: rgb(45, 45, 45);
        font-family: "Roboto", sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0%;
        text-align: left;
        display: block;
      }
      p {
        color: rgb(109, 105, 140);
        font-family: "Nunito", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: left;
      }
    }
  }
}

#section7 {
  .section7 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    &--text {
      h2 {
        color: rgb(45, 45, 45);
        font-family: "Roboto", sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0%;
        text-align: left;
      }
      p {
        color: rgb(109, 105, 140);
        font-family: "Nunito", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: left;
      }
    }
    img {
      width: 700px;
      display: block;
    }
  }
}

#kids {
  background: rgb(239, 106, 98);
  position: relative;
  overflow: hidden;

  .kids {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;

    &--div {
      z-index: 3;

      h1 {
        color: white;
        font-family: "Roboto", sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 55px;
        letter-spacing: 0%;
        text-align: left;
      }

      span {
        color: rgb(255, 207, 60);
      }

      h4 {
        color: rgb(255, 255, 255);
        font-family: "Nunito", sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: left;
      }

      &__contact {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 620px;

        h3 {
          color: rgb(255, 255, 255);
          font-family: "Nunito";
          font-size: 14px;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 0%;
          text-align: left;
        }

        button {
          width: 270px;
          height: 50px;
          border-radius: 15px 50px 15px 50px;
          background: rgb(255, 255, 255);
          color: rgb(183, 180, 211);
          font-family: "Nunito", sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 0%;
          text-align: center;
        }
      }

      &__contact--btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 620px;

        p {
          color: rgb(247, 255, 251);
          font-family: "Nunito", sans-serif;
          font-size: 15px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0%;
          text-align: left;
          margin-top: 60px;
        }

        button {
          width: 270px;
          height: 50px;
          border-radius: 15px 50px 15px 50px;
          background: rgb(255, 207, 60);
          color: rgb(45, 45, 45);
          font-family: "Nunito", sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 0%;
          text-align: center;
        }
      }
    }

    &__girl {
      z-index: 3;
      display: block;
    }

    &--div__bg {
      position: absolute;
      top: 125px;
      left: 950px;
      z-index: 1;
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

#footer {
  background: rgb(109, 105, 140);
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2 {
        color: rgb(171, 168, 197);
        font-family: "Nunito", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: left;
        margin: 0 30px;
      }
    }
    &--div__icon {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      p {
        color: white;
        width: 40px;
        height: 40px;
        box-sizing: border-box;
        border: 1px solid rgba(225, 222, 252, 0.32);
        border-radius: 12px;
        text-align: center;
        padding-top: 10px;
      }
    }
  }
}

@media (max-width: 770px) {
  #section5 {
    .section5 {
      margin: 20px;
      &--blocks {
        gap: 20px;
        &__block1 {
          height: auto;
          padding-top: 20px;
          p {
            width: auto;
            padding-left: 10px;
            text-align: center;
          }
        }
      }

      h2 {
        margin: 80px 0 10px 0;
      }

      button {
        width: 40%;
        height: 50px;
      }
    }
  }
  #section6 {
    .section6 {
      margin-top: 60px;
      flex-direction: column;
      .dialog2 {
        display: block;
        width: 580px;
      }
      &--text {
        h2 {
          display: none;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
  #section7 {
    .section7 {
      margin-top: 50px;
      &--text {
        h2 {
          width: 430px;
          margin-bottom: 50px;
        }
        p {
          width: 606px;
          margin-bottom: 70px;
        }
      }
      img {
        display: none;
      }
    }
  }
  #kids {
    .kids {
      &__girl {
        display: none;
      }
      &--div__bg {
        position: absolute;
        top: 125px;
        left: 300px;
        width: 100%;
        height: auto;
      }
      &--div {
        h1 {
          font-size: 38px;
        }
        h4 {
          font-size: 18px;
        }
        &__contact {
          flex-direction: column;
          align-items: start;
          button {
            width: 240px;
          }
        }
        &__contact--btn {
          margin-top: 20px;
          align-items: start;
          flex-direction: column;

          button {
            order: -1;
            padding-bottom: -3px;
          }
          p {
            order: 0;
          }
        }
      }
    }
  }
  #footer {
    .footer {
      &--div {
        flex-direction: column;
        align-items: start;
        margin: 20px 0;
      }
    }
  }
}

@media (max-width: 375px) {
  #section5 {
    .section5 {
      h1 {
        font-size: 30px;
        text-align: center;
      }
      button {
        width: 270px;
      }
    }
  }
  #section6 {
    .section6 {
      .dialog2 {
        width: 330px;
      }
    }
  }
  #section7 {
    .section7 {
      &--text {
        h2 {
          font-size: 30px;
          width: 300px;
        }
        p {
          font-size: 18px;
          width: 340px;
        }
      }
    }
  }
  #kids {
    .kids {
      &--div {
        h1 {
          font-size: 30px;
          width: 330px;
          text-align: center;
        }
        h4 {
          font-size: 18px;
          width: 330px;
          text-align: center;
        }
      }
      &--div__contact {
        button {
          width: 335px;
        }
      }
      &--div__contact--btn {
        button {
          width: 335px;
        }
        p {
          font-size: 15px;
          text-align: center;
        }
      }
      &--div__bg {
        display: none;
      }
    }
  }
  #footer {
    .footer {
      flex-direction: column;
      &--div {
        text-align: center;
        margin-top: 30px;
      }
    }
  }
}
